/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input,
textarea {
  outline: none;
}

a,
button {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --color-primarybrand: rgba(77, 90, 229, 1);
  /* iris */
  --color-pressedstate: rgba(64, 75, 191, 1);
  /* ocean */
  --color-dark: rgba(46, 47, 66, 1);
  /* navy blue */
  --color-success: rgba(49, 208, 170, 1);
  /* green  */
  --color-text: rgba(67, 68, 85, 1);
  /* slate  */
  --color-subtletext: rgba(142, 143, 153, 1);
  /* light slate  */
  --color-minortext: rgba(117, 117, 117, 1);
  /* light grey */
  --color-accent: rgba(231, 233, 252, 1);
  /* cornflower  */
  --color-light: rgba(244, 244, 253, 1);
  /* cloud  */
  --color-white: rgba(255, 255, 255, 1);
  /* white */
  --color-modaloverlay: rgba(46, 47, 66, 0.4);
  /* navy blue modal */
  --color-herobackground: rgba(46, 47, 66, 0.7);
  /* grey */
  --color-invalid: rgb(255, 51, 51, 0.5);
  /* light red */
  --color-transparent: rgb(244, 244, 253, 0);
  /* transparent */
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: not-allowed;
  background-color: var(--color-modaloverlay);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block {
  display: block;
}

.button {
  background-color: var(--color-primarybrand);
  border-radius: 4px;
  border: none;
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: var(--color-pressedstate);
}
.button:focus {
  background-color: var(--color-pressedstate);
}

.close-button {
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--color-accent);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover {
  fill: var(--color-white);
  border-color: var(--color-pressedstate);
  background-color: var(--color-pressedstate);
}
.close-button:focus {
  fill: var(--color-white);
  border-color: var(--color-pressedstate);
  background-color: var(--color-pressedstate);
}

.contact-form__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-dark);
  margin-bottom: 14px;
}

.contact-form__wrapper {
  position: relative;
  fill: var(--color-dark);
  margin-bottom: 8px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__wrapper:focus-within {
  fill: var(--color-primarybrand);
}
.contact-form__wrapper--mb16 {
  margin-bottom: 16px;
}
.contact-form__wrapper--mb24 {
  margin-bottom: 24px;
}

.contact-form__label {
  display: block;
  font-size: 12px;
  line-height: 1.33;
  color: var(--color-subtletext);
  margin-bottom: 4px;
}

.contact-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 11px 16px 11px 38px;
  background-color: inherit;
  color: var(--color-dark);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus {
  border-color: var(--color-primarybrand);
  color: var(--color-primarybrand);
}
.contact-form__input:not(:-moz-placeholder-shown):required:invalid {
  border-color: var(--color-invalid);
}
.contact-form__input:not(:-ms-input-placeholder):required:invalid {
  border-color: var(--color-invalid);
}
.contact-form__input:not(:placeholder-shown):required:invalid {
  border-color: var(--color-invalid);
}
.contact-form__input--large {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
}
.contact-form__input--large::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.33;
  color: var(--color-minortext);
  opacity: 0.5;
}
.contact-form__input--large::-moz-placeholder {
  font-size: 12px;
  line-height: 1.33;
  color: var(--color-minortext);
  opacity: 0.5;
}
.contact-form__input--large:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.33;
  color: var(--color-minortext);
  opacity: 0.5;
}
.contact-form__input--large::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.33;
  color: var(--color-minortext);
  opacity: 0.5;
}
.contact-form__input--large::placeholder {
  font-size: 12px;
  line-height: 1.33;
  color: var(--color-minortext);
  opacity: 0.5;
}

.contact-form__icon {
  position: absolute;
  left: 16px;
  bottom: 11px;
}

.contact-form__label-terms {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 12px;
  line-height: 1.33;
  color: var(--color-minortext);
  letter-spacing: 0.04em;
  fill: var(--color-transparent);
  -webkit-transition: fill 50ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 50ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input-terms:checked + .contact-form__label-terms {
  fill: var(--color-light);
}
.contact-form__label-terms::before {
  content: "";
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 2px solid;
  border-color: var(--color-dark);
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input-terms:checked + .contact-form__label-terms::before {
  background-color: var(--color-primarybrand);
  border-color: var(--color-primarybrand);
}

.contact-form__checkmark {
  position: absolute;
  top: 4px;
  left: 3px;
}

.contact-form__link {
  color: var(--color-primarybrand);
  text-decoration: underline;
}

.contact-form__button {
  display: block;
  width: 164px;
  margin: 0 auto;
  padding: 16px;
}

.contacts {
  display: none;
}
@media (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 4px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}

.contacts__item {
  position: relative;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 1200px) {
  .contacts__item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.contacts__item:hover {
  color: var(--color-pressedstate);
}
.contacts__item:focus {
  color: var(--color-pressedstate);
}
.contacts__item::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 4px;
  right: 0;
  width: 0;
  height: 1px;
  opacity: 0;
  background-color: var(--color-primarybrand);
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), left 500ms cubic-bezier(0.4, 0, 0.2, 1), width 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), left 500ms cubic-bezier(0.4, 0, 0.2, 1), width 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__item:hover::before {
  opacity: 1;
  width: 100%;
  left: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .container {
    max-width: 752px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container--tablet-small {
    padding-right: 100px;
    padding-left: 100px;
  }
}

.customer {
  height: 88px;
  width: calc((100% - 16px) / 2);
  min-width: 168px;
}
@media (min-width: 480px) {
  .customer {
    width: calc((100% - 48px) / 3);
  }
}
@media (min-width: 1200px) {
  .customer {
    width: calc((100% - 120px) / 6);
  }
}

.customer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--color-subtletext);
  border-radius: 4px;
  color: var(--color-subtletext);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__icon:hover {
  border-color: var(--color-pressedstate);
  color: var(--color-pressedstate);
}
.customer__icon:focus {
  border-color: var(--color-pressedstate);
  color: var(--color-pressedstate);
}

.customer__svg {
  fill: currentColor;
}

.examples {
  padding: 48px 0px;
}
@media (min-width: 480px) {
  .examples {
    padding: 64px 0px 96px 0px;
  }
}
@media (min-width: 1200px) {
  .examples {
    padding: 96px 0px 120px 0px;
  }
}

.examples__flex-container {
  margin-bottom: 48px;
}
@media (min-width: 480px) {
  .examples__flex-container {
    margin-bottom: 64px;
  }
}
@media (min-width: 1200px) {
  .examples__flex-container {
    margin-bottom: 72px;
  }
}

.filter {
  background-color: var(--color-light);
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-primarybrand);
  padding: 8px 16px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 480px) {
  .filter {
    padding: 12px 24px;
  }
}
.filter:hover {
  background-color: var(--color-primarybrand);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--color-primarybrand);
  color: var(--color-white);
}
.filter:focus {
  background-color: var(--color-primarybrand);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--color-primarybrand);
  color: var(--color-white);
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 72px;
}
.flex-container--row-gap-small {
  row-gap: 48px;
}
@media (max-width: 479px) {
  .flex-container--small-mobile-column-gap {
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
  }
}
.flex-container--small-row-gap {
  row-gap: 16px;
}

.footer {
  background-color: var(--color-dark);
  padding: 100px 0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  row-gap: 72px;
}
@media (min-width: 480px) {
  .footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 72px;
  }
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  row-gap: 72px;
}
@media (min-width: 480px) {
  .footer__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
}
@media (min-width: 1200px) {
  .footer__info {
    -webkit-column-gap: 120px;
       -moz-column-gap: 120px;
            column-gap: 120px;
  }
}

.footer__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  margin-bottom: 16px;
}

@media (max-width: 479px) {
  .footer__social-media {
    text-align: center;
  }
}

@media (max-width: 479px) {
  .footer__subscribe {
    text-align: center;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  min-height: 70px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 768px) {
  .header__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .header__logo {
    margin-right: 76px;
  }
}

.header__nav {
  display: none;
}
@media (min-width: 768px) {
  .header__nav {
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .header__nav {
    margin: 0 auto 0 0;
  }
}

.header__open-menu {
  fill: var(--color-dark);
  border: none;
  background-color: inherit;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__open-menu:hover {
  fill: var(--color-pressedstate);
}
.header__open-menu:focus {
  fill: var(--color-pressedstate);
}
.header__open-menu:active {
  fill: var(--color-primarybrand);
}
@media (min-width: 768px) {
  .header__open-menu {
    display: none;
  }
}

.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 112px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-herobackground)), to(var(--color-herobackground))), url("../images/studio/hero.jpg");
  background-image: linear-gradient(var(--color-herobackground), var(--color-herobackground)), url("../images/studio/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-dark);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--color-herobackground)), to(var(--color-herobackground))), url("../images/studio/hero@2x.jpg");
    background-image: linear-gradient(var(--color-herobackground), var(--color-herobackground)), url("../images/studio/hero@2x.jpg");
  }
}
@media (min-width: 768px) {
  .hero {
    padding: 108px 0;
  }
}
@media (min-width: 1200px) {
  .hero {
    padding: 188px 0;
  }
}

.hero__title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--color-white);
  max-width: 492px;
  margin: 0 auto 72px;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto 40px;
  }
}
@media (min-width: 1200px) {
  .hero__title {
    margin: 0 auto 48px;
  }
}

.hero__button {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  padding: 16px 32px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover {
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.hero__button:focus {
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.hero__button:active {
  background-color: var(--color-pressedstate);
}

.icon {
  width: 40px;
  height: 40px;
}

.icon__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-primarybrand);
  color: var(--color-light);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon__link:hover {
  background-color: var(--color-pressedstate);
}
.icon__link:focus {
  background-color: var(--color-pressedstate);
}

.icon__svg {
  fill: currentColor;
}

.is-hidden {
  visibility: 0;
  opacity: 0;
  pointer-events: none;
}

.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primarybrand);
}

.logo__studio {
  color: var(--color-dark);
}
.logo__studio--light {
  color: var(--color-light);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 40px 40px 40px;
  background-color: var(--color-white);
  z-index: 99;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mobile-menu.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__close-button {
  top: 40px;
  right: 40px;
}

.mobile-menu__link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-dark);
  display: block;
  margin-bottom: 40px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover {
  color: var(--color-pressedstate);
}
.mobile-menu__link:focus {
  color: var(--color-pressedstate);
}
.mobile-menu__link:active {
  color: var(--color-primarybrand);
}

.mobile-menu__tel {
  display: block;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-primarybrand);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 40px;
}
.mobile-menu__tel:hover {
  color: var(--color-pressedstate);
}
.mobile-menu__tel:focus {
  color: var(--color-pressedstate);
}
.mobile-menu__tel:active {
  color: var(--color-primarybrand);
}

.mobile-menu__mail {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 48px;
}
.mobile-menu__mail:hover {
  color: var(--color-pressedstate);
}
.mobile-menu__mail:focus {
  color: var(--color-pressedstate);
}
.mobile-menu__mail:active {
  color: var(--color-primarybrand);
}

.mobile-menu__icongroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 328px;
}

.modal {
  position: absolute;
  max-width: 408px;
  width: calc(100% - 36px);
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: default;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--color-light);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden .modal {
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
}

.modal__close-button {
  top: 24px;
  right: 24px;
}

.motto {
  max-width: 264px;
}
@media (max-width: 479px) {
  .motto {
    text-align: center;
  }
}

.motto__text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-accent);
  margin-top: 16px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.nav-list__item {
  position: relative;
}

.nav-list__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover {
  color: var(--color-pressedstate);
}
.nav-list__link:focus {
  color: var(--color-pressedstate);
}
.nav-list__link:active {
  color: var(--color-primarybrand);
}
.nav-list__link--current {
  color: var(--color-pressedstate);
}
.nav-list__link--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -24px;
  left: 0;
  background-color: var(--color-pressedstate);
  border-radius: 2px;
}

.portfolio {
  border-bottom: 0.5px solid var(--color-light);
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio:hover {
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio__wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.portfolio__image {
  min-width: 90vw;
  max-width: 90vw;
}
@media (min-width: 480px) {
  .portfolio__image {
    min-width: auto;
    max-width: 324px;
  }
}
@media (min-width: 1200px) {
  .portfolio__image {
    max-width: 100%;
  }
}

.portfolio__description {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--color-primarybrand);
  color: var(--color-light);
  font-size: 16px;
  line-height: 1.5;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio:hover .portfolio__description {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio__text {
  padding: 32px 16px;
}

.portfolio__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  margin-bottom: 8px;
}

.portfolio__link {
  display: inline-block;
  overflow: hidden;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover {
  color: var(--color-primarybrand);
}
.portfolio__link:focus {
  color: var(--color-primarybrand);
}

.portfolio__filter {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.principles {
  max-width: 100%;
}
@media (min-width: 480px) {
  .principles {
    width: calc((100% - 24px) / 2);
    max-width: 300px;
  }
}
@media (min-width: 1200px) {
  .principles {
    max-width: 264px;
  }
}

.principles__icon {
  display: none;
}
@media (min-width: 1200px) {
  .principles__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 264px;
    height: 112px;
    background-color: var(--color-light);
    border-radius: 4px;
    margin-bottom: 8px;
  }
}

.principles__title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-dark);
  margin-bottom: 8px;
}
@media (min-width: 480px) {
  .principles__title {
    text-align: start;
  }
}
@media (min-width: 1200px) {
  .principles__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
  }
}

.principles__text {
  font-size: 16px;
  line-height: 1.5;
}

.section {
  padding: 96px 0;
}
@media (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }
}
.section--light {
  background-color: var(--color-light);
}
.section--pt0 {
  padding-top: 0px;
}
.section--desktop-only {
  display: none;
}
@media (min-width: 1200px) {
  .section--desktop-only {
    display: block;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 16px;
}

.socials__item {
  width: 40px;
  height: 40px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--color-light);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover {
  background-color: var(--color-success);
}
.socials__link:focus {
  background-color: var(--color-success);
}

.socials__icon {
  fill: currentColor;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 479px) {
  .subscribe-form {
    gap: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.subscribe-form__input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--color-light);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form__input:focus {
  border-color: var(--color-primarybrand);
}
.subscribe-form__input:not(:-moz-placeholder-shown):invalid {
  border-color: var(--color-invalid);
}
.subscribe-form__input:not(:-ms-input-placeholder):invalid {
  border-color: var(--color-invalid);
}
.subscribe-form__input:not(:placeholder-shown):invalid {
  border-color: var(--color-invalid);
}
.subscribe-form__input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::-moz-placeholder {
  font-size: 12px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::placeholder {
  font-size: 12px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 479px) {
  .subscribe-form__input {
    width: 100%;
  }
}

.subscribe-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  padding: 8px 24px;
  fill: var(--color-white);
}

.team-card {
  background-color: var(--color-white);
  padding-bottom: 32px;
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-card__image {
  display: block;
  margin-bottom: 32px;
}

.team-card__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  margin-bottom: 8px;
}

.team-card__position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 12px;
}

.team-card__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-dark);
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */