.button {
    background-color: var(--color-primarybrand);
    border-radius: 4px;
    border: none;
    color: var(--color-white);
    @media (prefers-color-scheme: dark) {
        color: rgb(235, 235, 235);
    }
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    transition: 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: var(--color-pressedstate);
    }
    
    &:focus {
        background-color: var(--color-pressedstate);
    }
}