.hero {
    max-width: 1440px;
    margin: 0 auto;
    padding: 112px 0;

    background-image:
        linear-gradient(var(--color-herobackground),
                        var(--color-herobackground)),
        url('../images/studio/hero.jpg');
    @include background-image-2x {
        background-image:
            linear-gradient(var(--color-herobackground),
                            var(--color-herobackground)),
            url('../images/studio/hero@2x.jpg');
    }

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-dark);

    @include for-tablet-landscape-up {
        padding: 108px 0;
    }

    @include for-desktop-up {
        padding: 188px 0;
    }
}

.hero__title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: var(--color-white);
    max-width: 492px;
    margin: 0 auto 72px;

    @include for-tablet-landscape-up {
        font-size: 56px;    
        line-height: 1.07;
        margin: 0 auto 40px;
    }

    @include for-desktop-up {
        margin: 0 auto 48px;
    }
}

.hero__button {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    padding: 16px 32px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover{
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    &:focus {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    &:active {
        background-color: var(--color-pressedstate);
    }
}