:root {
    --color-primarybrand: rgba(77, 90, 229, 1);
    /* iris */
    --color-pressedstate: rgba(64, 75, 191, 1);
    /* ocean */
    --color-dark: rgba(46, 47, 66, 1);
    /* navy blue */
    --color-success: rgba(49, 208, 170, 1);
    /* green  */
    --color-text: rgba(67, 68, 85, 1);
    /* slate  */
    --color-subtletext: rgba(142, 143, 153, 1);
    /* light slate  */
    --color-minortext: rgba(117, 117, 117, 1);
    /* light grey */
    --color-accent: rgba(231, 233, 252, 1);
    /* cornflower  */
    --color-light: rgba(244, 244, 253, 1);
    /* cloud  */
    --color-white: rgba(255, 255, 255, 1);
    /* white */
    --color-modaloverlay: rgba(46, 47, 66, 0.4);
    /* navy blue modal */
    --color-herobackground: rgba(46, 47, 66, 0.7);
    /* grey */
    --color-invalid: rgb(255, 51, 51, 0.5);
    /* light red */
    --color-transparent: rgb(244, 244, 253, 0);
    /* transparent */
}